<h2>Add New Dealership</h2>

<div class='form-group'>
  <form action='/dealership_add_success' method='post'>
    <label for='dealer-name'>Dealer Name</label>
    <input id='dealer-name' name='dealer-name' type="text">
    <button type='submit' class='btn-succes'>Add New Dealership</button>
  </form>
</div>
