<h1>Add a bike:</h1>

<form action="/vehicles" method="post">
  <label for="make">Bike's make:</label>
  <input id="make" name="make" type="text">

  <label for="model">Bike's model:</label>
  <input id="model" name="model" type="text">

  <label for="year">Bike's year:</label>
  <input id="year" name="year" type="text">

  <button type="submit">Add Bike</button>
</form>
